*{
    background: #FFFFFF;    
    font-family: 'Inter';
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
/* identical to box height, or 48px */


color: #A5A5A5;
}

.logo{
    padding-top: 27px;
    margin-left: 40px;
    width: 5%;
}

main{
    display: flex;
    margin-bottom: 50px;
    margin-left: 80px;
}

.textArea{
    border: none;
    color: #0A3871;
    position: relative;
    width: 1230px;
    height: 844px;
    margin-left: 170px;
    margin-top: 140px;
    text-transform: lowercase;
    background-image: url(imagenes/Astronauta.svg);
    background-repeat: no-repeat;
    
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

::placeholder {color: #0A3871; padding-top: 40; padding-left:40px;}
    .text-area:focus{
        outline: none;
        padding-top: 40; padding-left:40px;
    }

.mensaje{
    position: relative;
    width: 400px;
    height: 970px;
    margin-left: 98px;
    margin-top: 20px;
    padding-left: 20px;
    border: none;
    color: #495057;;
    /* White */

    background: #FFFFFF;
    /* shadow */

    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}
.mensaje:focus{
    outline: none;
}

.botones{
    display: flex;
    margin-top: 18px;
}

.btn-encriptar{
    cursor: pointer;
    background: #9B9EE8;
    color: #FFFFFF;
    border:1px solid #9B9EE8;
    border-radius: 24px;
    width: 328px;
    height: 67px;
}
.btn-desencriptar{
    cursor: pointer;
    background: #F8F8F8;
    border:1px solid #F8F8F8;
    border-radius: 24px;
    color: #0A3871;
    margin-left: 30px;
    width: 328px;
    height: 67px;
    /* Dark blue/dark-blue-300 */
    border: 1px solid #0A3871;

}
.btn-copiar{
    cursor: pointer;
    background: #F8F8F8;
    border-radius: 24px;
    color: #0A3871;
    margin-left: 145px;
    width: 328px;
    height: 67px;
    /* Dark blue/dark-blue-300 */
    border: 1px solid #0A3871;
    position: absolute;
    
}